@page
@model GolfClubDb.Pages.Bookings.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Bookings</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bookings.TeeDate" class="control-label"></label>
                <input asp-for="Bookings.TeeDate" class="form-control" type ="date"/>
                <span asp-validation-for="Bookings.TeeDate" class="text-danger" value="@DateTime.Today.ToString("yyyy-MM-dd")"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bookings.TeeTime" class="control-label"></label>
                <select asp-for="Bookings.TeeTime" class="form-control" asp-items="Model.TimeOptions"></select>
            </div>
            <div class="form-group">
                <label asp-for="Bookings.Player1MemberId" class="control-label">Player 1</label>
                <select asp-for="Bookings.Player1MemberId" class="form-control" asp-items="ViewBag.Members" onchange="this.form.method='get'; this.form.submit();">
                    <option value=""> Select a Member</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Bookings.Player2MemberId" class="control-label">Player  2</label>
                <select asp-for="Bookings.Player2MemberId" class="form-control" asp-items="ViewBag.Members">
                    <option value=""> Select a Member</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Bookings.Player3MemberId" class="control-label">Player 3</label>
                <select asp-for="Bookings.Player3MemberId" class="form-control" asp-items="ViewBag.Members">
                    <option value=""> Select a Member</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Bookings.Player4MemberId" class="control-label">Player 4</label>
                <select asp-for="Bookings.Player4MemberId" class="form-control" asp-items="ViewBag.Members">
                    <option value=""> Select a Member</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
